@import"./mixins";
*{
    font-family: 'Montserrat',sans-serif;
}
body{
    height: 100vh;
}
#main{
    #post{
        .post__content{
            display: flex;
            justify-content: space-evenly;
            margin-top: 10%;
            @include mobile{
              flex-wrap: wrap;   
            }
            &-title{
                text-align: center;
              .color-text{
                color: #23A6F0;
                cursor: pointer;
              
              }
            }

            &-img{
                img{
                    @include mobile{
                        width: 100%;
                      }
                }
            
            }
        }
    }
}